<form
  name="container-form"
  class="mt-4"
  method="POST"
  action="/courses/handle-form-action"
>
  <div class="d-flex justify-content-between">
    <h2>Khóa học của tôi</h2>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
  </div>
  <div class="d-flex align-items-center text-center mt-4">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
    </div>
    <select
      class="form-select m-4"
      aria-label="Default select example"
      style="width: 180px"
      name="action"
      required
    >
      <option selected value="">-- Hành động --</option>
      <option value="delete">Xóa</option>
    </select>
    <button
      class="btn btn-primary btn-check-all-submit"
      disabled="disabled"
    >Thực hiện</button>
  </div>
  <table class="table ms-4 me-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        {{!-- Vì vấn đề bảo mật nên khi sử dụng {{ không hiển thị html}} {{{Hiên thị. }}} Đọc docs expressjs --}}
        <th scope="col">Tên khóa học
          {{{sortable "name" _sort}}}
        </th>
          
        <th scope="col">Trình độ {{{sortable "level" _sort}}}</th>
        <th scope="col">Ngày tạo {{{sortable "createdAt" _sort}}}
        </th>
        <th scope="col">Tác vụ <i class="fa-solid fa-elevator"></i></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />
            </div>
          </td>
          {{! sum (a, b) là hàm helper trong file index để  + 1}}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit">Sửa</a>
            <button
              type="button"
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-id="{{this._id}}"
            >
              Xóa
            </button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Bạn chưa đăng khóa học nào.
            <a href="/courses/create">Đăng khóa học</a>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm deleted course }}
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{! <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Đóng</button>
        <button
          type="button"
          id="btn-delete-course"
          class="btn btn-primary"
        >Xóa</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form Tạo form rồi xử lý xóa }}
<form method="POST" name="delete-course-form"></form>

{{! Import thư viện Jquery }}
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
  type="text/javascript"
></script>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse =
        document.getElementById('btn-delete-course'); 
    var checkboxAll=$('#checkbox-all') 
    var containerForm = $("form[name='container-form']")   
    var courseItemCheckbox = $("input[name='courseIds[]']")   
    var btnCheckAllSubmit = $(".btn-check-all-submit")   
    //var containerForm = document.forms['container-form']
        
        //when dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function(event) {
        var button =
            $(event.relatedTarget);
        courseId = button.data('id');
    });
    btnDeleteCourse.onclick = function() {
        deleteForm.action = '/courses/' +
            courseId + '?_method=DELETE';
        deleteForm.submit();
    }

  //CheckboxAll clicked
    checkboxAll.change(function ()  {
      var isCheckedAll = $(this).prop('checked'); 
      courseItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
      })


  //Course item checkbox changed
  courseItemCheckbox.change(function () {
    var isCheckedAll = courseItemCheckbox.length === $("input[name='courseIds[]']:checked").length
    checkboxAll.prop('checked', isCheckedAll)
    renderCheckAllSubmitBtn()
  })

  //Re-render check all submit button
  function renderCheckAllSubmitBtn() { 
    var checkedCount = $("input[name='courseIds[]']:checked").length
    if (checkedCount) {
      //Thêm attribiu
      btnCheckAllSubmit.attr('disabled', false)
    } else {
      btnCheckAllSubmit.attr('disabled', true)
    }
  }
  
});
  //{{! Do lúc chạy đoạn code này thì thư viện JQuery ($) chưa đc nạp vào bộ nhớ vào nên pải tạo 1  DOM event  DOMContentLoaded ( khi DOM đc tải xong ) thì mới chạy đoạn code này.}}

</script>